#!/usr/bin/make -f

vafilt = $(subst $(2)=,,$(filter $(2)=%,$(1)))
CHANGELOG_VARS := $(shell dpkg-parsechangelog | sed -n 's/ /_/g;/^[^_]/s/^\([^:]*\):_\(.*\)/\1=\2/p')
PKGSOURCE  := $(call vafilt,$(CHANGELOG_VARS),Source)
PKGVERSION := $(call vafilt,$(CHANGELOG_VARS),Version)
UPSTREAM_VCS = git@github.com:tmarble/kspsig.git
UPSTREAM_VERSION = v$(PKGVERSION)
SOURCE_DIR = $(PKGSOURCE)-$(PKGVERSION)
SOURCE_TARBALL = $(PKGSOURCE)_$(PKGVERSION).tar.bz2

%: 
	dh $@

override_dh_auto_build:
	dh_auto_build
	help2man --output kspsig.1 --include=kspsig.h2m ./kspsig

# NOTE target not get-orig-source: as this is a native package
# normally building the package will create $(SOURCE_TARBALL)
# the following target will make a tarball from the latest changelog version
pull-changelog-revision:
	mkdir ../tarballs
	git clone -q -n $(UPSTREAM_VCS) ../tarballs/$(SOURCE_DIR)
	( cd ../tarballs/$(SOURCE_DIR); git checkout -q $(UPSTREAM_VERSION) )
	rm -f ../$(SOURCE_TARBALL)
	tar -C ../tarballs -jcf ../$(SOURCE_TARBALL) --exclude='.git*' ./$(SOURCE_DIR)
	rm -rf ../tarballs
